{% extends 'layout.html.twig' %}

{% block content %}
<script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{ appInfo.appID() }}', // App ID
          channelUrl : '//{{ appInfo.getHost() }}/channel.php', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div>
      {% if basic %}
        <header class="clearfix">
            <p id="picture" style="background-image: url(https://graph.facebook.com/100003531474584/picture?type=normal)"></p>
          <div>
            <h1>Welcome, <strong>{{ utils.idx(basic, 'name') }}</strong></h1>
            <p class="tagline">
              Correct answers: {{ app.session.get('correct_answers') }}
            </p>
          </div>
        </header>

        <section id="samples" class="clearfix">
          <h1>
            {{ question[0]['message'] }}
          </h1>

          <form method="post" action="/">
          <div id="answers">
            <h3>Alternatives</h3>
            <ul class="friends">
              {% for alternative in alternatives %}
                <li>
                  <button type="submit" name="submit" formmethod="post" formaction="/">
                    <input type="hidden" name="answer" value="{{ alternative['id'] }}"/>
                    <input type="hidden" name="question" value="{{ question[0][0] }}"/>
                    <img src="https://graph.facebook.com/{{ alternative['id'] }}/picture?type=square" alt="{{ alternative.name }}">
                    <span>{{ alternative.name }}</span>
                  </button> 
                </li>
              {% endfor %}
            </ul>
          </div>
          </form>
        </section>
      {% else %}
        <h1>Welcome</h1>
        <div class="fb-login-button" data-scope="read_stream"></div>
      {% endif %}
    </div>
{% endblock %}